body {
    background-color: lightgray;
}
.menu {
    list-style: none;
}
.menu li {
    display: inline-block;
    margin-right: 10px;
}
.main-title {
    text-align: center;
}

.resume h1 {
    background-color: black;
    color: white;
}

.interests h1 {
    background-color: black;
    color: white;
}

.interests h2 {
    background-color: blue;
    color: white;
}

.contact h1 {
    background-color: black;
    color: white;
}

.contact h2 {
    background-color: blue;
    color: white;
}
label {
    font-weight: bold;
}
button {
    background-color: black;
    color: white;
    padding: 10px;
}

